p{font-family: "Roboto Condensed", sans-serif;
  color: white;}

nav{background-color: rgb(238, 55, 55);}

.logoaulab{width: 150px;height: 150px;}

.linea{text-decoration: none;
       color: black;
       font-size: 20px;}

.linklista{list-style-type: none;}       

header{background-image: url(https://picsum.photos/200);
       height: 80vh; 
       background-size: cover;
       background-position: center;
       text-align: center;}

h1{font-size: 70px;
   color: red;}

h2,h4{color: red;
     font-family: 'oswald',sans-serif;}

.linkcasa{text-decoration: none;
          color: red;
          font-size: 30px;}   

.blink{background-color: black;
       color: white;}

.blink:hover{background-color: red;
             color: black;}

.art{background-color: black;}

