h1,h2,h3{font-family: 'Baskerville',sans-serif;
         color: blueviolet}


h3{height: 5vh;
   background-size: 20%;
   background-image: linear-gradient(red, yellow);}

div{font-family: 'calibri',sans-serif;
    background-color: gray;}

.white{color: white;
       font-family: 'roboto',sans-serif;}

section{background-color: black;}

.immagini{background-image: url(https://picsum.photos/200);}

.button:hover{background-color: green;
              color: blue;}



